In [2]:
#Import Libraries
import numpy as np
import pandas as pd

In [30]:
#File Names
breedf='breed_labels.csv'
colorf='color_labels.csv'
statef='state_labels.csv'
testf='test/test.csv'
trainf='train.csv'

#Import Files
breeds=pd.read_csv(breedf)
color=pd.read_csv(colorf)
state=pd.read_csv(statef)
test_data=pd.read_csv(testf)
train_data=pd.read_csv(trainf)

In [11]:
#Examine Test Data Set
test_data.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Sterilized,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt
0,2,Dopey & Grey,8,266,266,1,2,6,7,1,...,2,1,2,0,41326,2ece3b2573dcdcebd774e635dca15fd9,0,"Dopey Age: 8mths old Male One half of a pair, ...",e2dfc2935,2.0
1,2,Chi Chi,36,285,264,2,1,4,7,2,...,1,2,1,0,41326,2ece3b2573dcdcebd774e635dca15fd9,0,"Please note that Chichi has been neutered, the...",f153b465f,1.0
2,2,Sticky,2,265,0,1,6,7,0,2,...,2,1,1,200,41326,e59c106e9912fa30c898976278c2e834,0,"Sticky, named such because of his tendency to ...",3c90f3f54,4.0
3,1,Dannie & Kass [In Penang],12,307,0,2,2,5,0,2,...,1,1,2,0,41326,e59c106e9912fa30c898976278c2e834,0,Dannie and Kass are mother and daughter. We en...,e02abc8a3,5.0
4,2,Cuddles,12,265,0,1,2,3,7,2,...,1,1,1,0,41326,e59c106e9912fa30c898976278c2e834,0,"Extremely cuddly cat, hence the origin of his ...",09f0df7d1,5.0

In [12]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3972 entries, 0 to 3971
Data columns (total 23 columns):
Type            3972 non-null int64
Name            3561 non-null object
Age             3972 non-null int64
Breed1          3972 non-null int64
Breed2          3972 non-null int64
Gender          3972 non-null int64
Color1          3972 non-null int64
Color2          3972 non-null int64
Color3          3972 non-null int64
MaturitySize    3972 non-null int64
FurLength       3972 non-null int64
Vaccinated      3972 non-null int64
Dewormed        3972 non-null int64
Sterilized      3972 non-null int64
Health          3972 non-null int64
Quantity        3972 non-null int64
Fee             3972 non-null int64
State           3972 non-null int64
RescuerID       3972 non-null object
VideoAmt        3972 non-null int64
Description     3971 non-null object
PetID           3972 non-null object
PhotoAmt        3972 non-null float64
dtypes: float64(1), int64(18), object(4)
memory usage: 713.8+ KB

Notice that there are null values for description (1), and several for Name, which is to be expected.

In [5]:
#Examine Train Data Set
train_data.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3
3,1,Miko,4,307,0,2,1,2,0,2,...,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2
4,1,Hunter,1,307,0,1,1,0,0,2,...,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2

In [13]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14993 entries, 0 to 14992
Data columns (total 24 columns):
Type             14993 non-null int64
Name             13736 non-null object
Age              14993 non-null int64
Breed1           14993 non-null int64
Breed2           14993 non-null int64
Gender           14993 non-null int64
Color1           14993 non-null int64
Color2           14993 non-null int64
Color3           14993 non-null int64
MaturitySize     14993 non-null int64
FurLength        14993 non-null int64
Vaccinated       14993 non-null int64
Dewormed         14993 non-null int64
Sterilized       14993 non-null int64
Health           14993 non-null int64
Quantity         14993 non-null int64
Fee              14993 non-null int64
State            14993 non-null int64
RescuerID        14993 non-null object
VideoAmt         14993 non-null int64
Description      14981 non-null object
PetID            14993 non-null object
PhotoAmt         14993 non-null float64
AdoptionSpeed    14993 non-null int64
dtypes: float64(1), int64(19), object(4)
memory usage: 2.7+ MB

Notice that there are again null values in description and name

In [32]:
#Combine Data sets

#Add blank 'Adoption Speed' column to test
test_data['AdoptionSpeed']=''
data=pd.concat([test_data,train_data],axis=0).reset_index()
data.head()

,index,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,0,2,Dopey & Grey,8,266,266,1,2,6,7,...,1,2,0,41326,2ece3b2573dcdcebd774e635dca15fd9,0,"Dopey Age: 8mths old Male One half of a pair, ...",e2dfc2935,2.0,
1,1,2,Chi Chi,36,285,264,2,1,4,7,...,2,1,0,41326,2ece3b2573dcdcebd774e635dca15fd9,0,"Please note that Chichi has been neutered, the...",f153b465f,1.0,
2,2,2,Sticky,2,265,0,1,6,7,0,...,1,1,200,41326,e59c106e9912fa30c898976278c2e834,0,"Sticky, named such because of his tendency to ...",3c90f3f54,4.0,
3,3,1,Dannie & Kass [In Penang],12,307,0,2,2,5,0,...,1,2,0,41326,e59c106e9912fa30c898976278c2e834,0,Dannie and Kass are mother and daughter. We en...,e02abc8a3,5.0,
4,4,2,Cuddles,12,265,0,1,2,3,7,...,1,1,0,41326,e59c106e9912fa30c898976278c2e834,0,"Extremely cuddly cat, hence the origin of his ...",09f0df7d1,5.0,

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18965 entries, 0 to 18964
Data columns (total 25 columns):
index            18965 non-null int64
Type             18965 non-null int64
Name             17297 non-null object
Age              18965 non-null int64
Breed1           18965 non-null int64
Breed2           18965 non-null int64
Gender           18965 non-null int64
Color1           18965 non-null int64
Color2           18965 non-null int64
Color3           18965 non-null int64
MaturitySize     18965 non-null int64
FurLength        18965 non-null int64
Vaccinated       18965 non-null int64
Dewormed         18965 non-null int64
Sterilized       18965 non-null int64
Health           18965 non-null int64
Quantity         18965 non-null int64
Fee              18965 non-null int64
State            18965 non-null int64
RescuerID        18965 non-null object
VideoAmt         18965 non-null int64
Description      18952 non-null object
PetID            18965 non-null object
PhotoAmt         18965 non-null float64
AdoptionSpeed    18965 non-null object
dtypes: float64(1), int64(19), object(5)
memory usage: 3.6+ MB

In [37]:
#Investigate Null Description Rows
df1=data[data.Description.isnull()]
df1

,index,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
488,488,1,Pat Pat,3,307,307,2,5,0,0,...,1,1,0,41332,88d48aeb402a9d6a891fff5c0b86a29a,0,NaN,1f85c9142,1.0,
4068,96,2,Manja,19,285,0,2,1,6,0,...,1,1,0,41401,12c51d7222986fbf000db9061f5082be,0,NaN,5e4154870,3.0,1
4577,605,2,Mickey,2,264,0,1,1,7,0,...,1,1,0,41401,bb7e38ebd628443cefb56024635dd647,0,NaN,56583003c,3.0,4
5070,1098,2,Pucci,6,266,292,1,1,6,0,...,1,1,0,41326,90b00f90ffdf9ec1cac529a2bbef3ecc,0,NaN,8c4c4bc6e,1.0,4
6081,2109,1,Chelsea And Sherbert,31,307,0,2,1,2,7,...,1,2,0,41401,c814d8b7928da23e3add9ec4d270de95,0,NaN,50eddd1bb,3.0,2
8190,4218,2,Mog,84,266,0,1,3,0,0,...,1,1,0,41401,bc630ee7cec2fa789b0412ff798df83f,0,NaN,9d82e4438,5.0,2
8876,4904,2,Brumby,2,299,0,1,1,7,0,...,1,1,0,41326,744fa4278196568a18fcf5cd7d324ed2,0,NaN,ba16888d7,2.0,2
10013,6041,2,Oshin & Lola,3,254,254,2,2,7,0,...,1,2,0,41326,6a33f105d818ce64de49a0b83a33b35a,0,NaN,4ec25bc3b,4.0,3
12646,8674,2,KANTHAKA,2,299,0,2,1,7,0,...,1,1,0,41326,744fa4278196568a18fcf5cd7d324ed2,0,NaN,97f0a97ef,1.0,2
14244,10272,1,Unknown,0,307,0,1,5,7,0,...,2,1,0,41326,f0997d267a9acadd44a5301a18f83df5,0,NaN,f67786a70,0.0,4
15337,11365,2,J,25,292,292,1,2,0,0,...,1,1,0,41326,0bda3ae2e5c78a3b2ff9a725dbe42161,0,NaN,f775ef952,1.0,2
16685,12713,1,Ben,7,109,0,1,3,0,0,...,1,1,250,41326,64c0b95d07c9e6d3ea11f801abf69104,0,NaN,453750088,4.0,1
18781,14809,2,No Name,1,266,0,3,2,7,0,...,2,4,0,41401,d1b04577a08e6b77cb39fbf28931bf9c,0,NaN,437d65d38,2.0,4

In [38]:
#Fill empty descriptions with "No Description, as there are animals in these rows"
data1=data.fillna('No description')
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18965 entries, 0 to 18964
Data columns (total 25 columns):
index            18965 non-null int64
Type             18965 non-null int64
Name             18965 non-null object
Age              18965 non-null int64
Breed1           18965 non-null int64
Breed2           18965 non-null int64
Gender           18965 non-null int64
Color1           18965 non-null int64
Color2           18965 non-null int64
Color3           18965 non-null int64
MaturitySize     18965 non-null int64
FurLength        18965 non-null int64
Vaccinated       18965 non-null int64
Dewormed         18965 non-null int64
Sterilized       18965 non-null int64
Health           18965 non-null int64
Quantity         18965 non-null int64
Fee              18965 non-null int64
State            18965 non-null int64
RescuerID        18965 non-null object
VideoAmt         18965 non-null int64
Description      18965 non-null object
PetID            18965 non-null object
PhotoAmt         18965 non-null float64
AdoptionSpeed    18965 non-null object
dtypes: float64(1), int64(19), object(5)
memory usage: 3.6+ MB

In [39]:
#From data investigation we know some of the breed's are zero, is zero in the breeds table?
breeds.head()

   BreedID  Type         BreedName
0        1     1     Affenpinscher
1        2     1      Afghan Hound
2        3     1  Airedale Terrier
3        4     1            Akbash
4        5     1             Akita

There is no breed ID of zero, however we may be merging the breed, color, and state tables with the data set so let's create a breed table with a response for a BreedID of zero.

In [90]:
#Create value for if there is no breed
index_none=['BreedID','BreedName','Type']
nobreed=pd.DataFrame([0,'No Breed',0],index=index_none)
nobreed=nobreed.T

#Append value if no breed to breeds table
breeds_wnone=nobreed.append(breeds,sort=True)
breeds_wnone.head()

  BreedID         BreedName Type
0       0          No Breed    0
0       1     Affenpinscher    1
1       2      Afghan Hound    1
2       3  Airedale Terrier    1
3       4            Akbash    1

In [108]:
#Now, let's see which animals actually have no names. 
data2=data1[data1.Name=='No description']
data2

,index,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
39,39,1,No description,36,205,0,1,5,0,0,...,1,1,0,41326,62a25cadb85658be5275bd54a3b8c76d,0,call PAW for more details.,28d7742b7,4.0,
43,43,2,No description,36,299,0,1,6,7,0,...,1,1,0,41326,62a25cadb85658be5275bd54a3b8c76d,0,"For enquries, pls call PAWS at.",de9f5bbd3,1.0,
45,45,2,No description,36,266,0,2,1,2,0,...,1,1,0,41326,62a25cadb85658be5275bd54a3b8c76d,0,call PAW for more details.,e46543f14,3.0,
51,51,2,No description,12,266,0,2,1,5,7,...,1,1,0,41326,62a25cadb85658be5275bd54a3b8c76d,0,call PAW for more details.,d08af6694,2.0,
68,68,2,No description,12,266,0,2,7,0,0,...,1,1,0,41326,62a25cadb85658be5275bd54a3b8c76d,0,White with stripey tail. Contact PAWS at.,4ffa7cb1b,3.0,
75,75,2,No description,24,292,0,2,2,7,0,...,1,1,0,41326,62a25cadb85658be5275bd54a3b8c76d,0,"Siamese mix. For enquries, pls call PAWS at.",d7b32bca1,1.0,
87,87,2,No description,7,299,0,1,1,6,0,...,1,1,0,41326,62a25cadb85658be5275bd54a3b8c76d,0,"For enquries, pls call PAWS at.",8f7b3062e,1.0,
98,98,1,No description,2,307,0,1,2,0,0,...,1,1,0,41326,62a25cadb85658be5275bd54a3b8c76d,0,Pls call PAW for details.,62176b313,1.0,
113,113,1,No description,12,307,0,2,2,0,0,...,1,1,0,41326,62a25cadb85658be5275bd54a3b8c76d,0,call PAW for more details.,500c81255,1.0,
143,143,2,No description,12,266,0,2,7,0,0,...,1,1,0,41326,62a25cadb85658be5275bd54a3b8c76d,0,call PAW for more details.,3cec353c6,1.0,
171,171,1,No description,3,307,0,2,1,5,0,...,1,1,0,41326,62a25cadb85658be5275bd54a3b8c76d,0,call PAW for more details.,b5a09eebd,3.0,
190,190,2,No description,12,266,0,2,1,7,0,...,1,1,0,41326,62a25cadb85658be5275bd54a3b8c76d,0,call PAW for more details.,a5830dc7c,1.0,
196,196,1,No description,4,307,0,3,1,2,7,...,1,2,0,41327,8019146babc11f5fd87ad8b7d530f374,0,These two pups are looking for homes. Interest...,d1774293d,2.0,
199,199,1,No description,24,307,0,2,1,2,7,...,1,1,0,41327,8019146babc11f5fd87ad8b7d530f374,0,Owners adopted her and they have moved leaving...,a61df4757,1.0,
200,200,2,No description,6,266,0,2,2,5,6,...,2,1,0,41327,8019146babc11f5fd87ad8b7d530f374,0,This cat is unusually lovable and friendly. He...,3d674f739,1.0,
201,201,2,No description,5,285,0,3,1,6,7,...,1,2,0,41327,8019146babc11f5fd87ad8b7d530f374,0,These two cats are siblings who were dumped at...,97bd62d73,3.0,
202,202,1,No description,2,307,0,3,1,2,7,...,1,6,0,41327,8019146babc11f5fd87ad8b7d530f374,0,3 boys and 3 girls. Sweet pups looking for a home,6e1a75dc5,2.0,
204,204,2,No description,5,266,0,2,1,2,3,...,1,1,0,41327,8019146babc11f5fd87ad8b7d530f374,0,Cute. Loves cuddles. Energetic. Loves attentio...,0dd197382,1.0,
206,206,1,No description,18,207,0,1,2,6,0,...,1,1,0,41327,8019146babc11f5fd87ad8b7d530f374,0,This silky was rescued by an animal lover from...,471d0c9dd,2.0,
207,207,1,No description,48,103,0,2,1,2,6,...,1,2,1500,41327,8019146babc11f5fd87ad8b7d530f374,0,These two german shepherds are looking for a h...,71e9d6fa4,7.0,
210,210,1,No description,2,307,0,2,1,2,7,...,1,1,0,41327,8019146babc11f5fd87ad8b7d530f374,0,She is a healthy puppy about 6 to 8 weeks old ...,9aba4c393,1.0,
213,213,2,No description,2,266,266,1,1,6,7,...,1,1,0,41327,8019146babc11f5fd87ad8b7d530f374,0,This 2 month old kitten was born by a stray ca...,36daaf540,4.0,
216,216,1,No description,2,307,0,3,1,2,7,...,1,7,0,41327,8019146babc11f5fd87ad8b7d530f374,0,Seven puppies for adoption. Their mother was s...,14fbe0540,15.0,
217,217,1,No description,3,307,0,2,2,5,7,...,1,1,0,41327,8019146babc11f5fd87ad8b7d530f374,0,This shy friendly girl was running around a bu...,172bfcaa8,1.0,
220,220,1,No description,2,187,307,3,2,4,5,...,1,4,0,41327,8019146babc11f5fd87ad8b7d530f374,0,Good day. I am a dog lover who wants a dog to ...,65eb85bf7,5.0,
221,221,2,No description,5,266,0,1,1,2,7,...,1,1,0,41327,8019146babc11f5fd87ad8b7d530f374,0,"I have this cat, hoping to get adopted. 1) Gen...",8489dfcf3,1.0,
222,222,2,No description,12,254,285,2,1,2,4,...,1,1,0,41327,8019146babc11f5fd87ad8b7d530f374,0,She has a voracious appetite and enjoys a good...,c15662d04,1.0,
223,223,1,No description,2,307,307,2,1,2,4,...,1,3,0,41327,8019146babc11f5fd87ad8b7d530f374,0,3 adorable puppies are available for adoption....,0250f1cc7,1.0,
226,226,1,No description,2,307,0,1,1,2,5,...,1,1,0,41327,8019146babc11f5fd87ad8b7d530f374,0,this puppy is the only pup among the lot of ad...,98b82b51c,2.0,
229,229,1,No description,2,307,0,2,1,2,7,...,1,5,0,41327,8019146babc11f5fd87ad8b7d530f374,0,An animal lover heard a puppy cry went out and...,e497c67d6,9.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18530,14558,1,No description,48,69,0,2,3,5,0,...,2,1,0,41401,0ec2568537bbf3ccd498058ea6b9b095,0,Location: Ipoh Has minor skin problems. Heard ...,e678bcc42,1.0,3
18535,14563,2,No description,2,266,0,1,1,7,0,...,1,1,10,41326,936c265b46eb80fe5f206d2347ca12f2,0,-Sangat comel -Suka main -Nakal.. -Makanan Bas...,d2fa7a847,3.0,4
18543,14571,2,No description,3,292,299,1,2,5,7,...,1,1,0,41326,49083ec6c13e3256c66cdfb740c74f17,0,"He is a sweet, adoring, healthy and slightly n...",88af83705,3.0,0
18547,14575,2,No description,0,266,0,1,1,0,0,...,1,1,0,41326,7d802221a7890fc1292f107ada2d8477,0,Found abandoned little kitten. Unknown gender....,2039114f1,2.0,4
18558,14586,2,No description,3,265,0,3,5,6,7,...,1,3,0,41401,22d9e67d412f25866e09f2c098a6ebef,0,"Hi i found this 3 kitties on the street , they...",1380b76cf,5.0,2
18561,14589,2,No description,4,266,0,1,6,7,0,...,1,1,0,41326,826560f9b7d4011c5f5eec6cab575b23,0,"Adorable and Playful Kitten for adoption, he n...",1effd827e,7.0,2
18613,14641,2,No description,4,265,279,1,1,0,0,...,1,1,100,41326,5bd0848dd25ef2c3d36218fe94e78682,0,Rescued from Kajang wet market from adult cat ...,80b7c910d,4.0,3
18627,14655,1,No description,1,307,307,3,1,2,7,...,1,2,250,41401,b345f5ae8d4940dc5b287139012d1883,0,2 puppies were found in a box outside of 7 Ele...,a39ad6dc7,10.0,2
18630,14658,2,No description,4,285,266,3,1,2,6,...,1,6,0,41326,43bbad4b859a7c412b034840256eefbb,0,A stray persian came to our house and insist s...,4a609b82b,12.0,2
18643,14671,2,No description,1,299,299,2,1,2,7,...,1,1,0,41326,cd2f326ea0852643fe7fe8e97acca5ed,0,My eldest daughter found this little kitten cr...,cce8fa6c2,3.0,2
18648,14676,2,No description,3,266,0,1,1,4,6,...,1,5,100,41326,bae24b2fc02320a7dfa5a53769433bc1,0,"Kittens were abandoned in front of our clinic,...",3a3d4f5dc,5.0,4
18675,14703,1,No description,2,307,0,2,4,0,0,...,1,1,0,41330,f5821376c1a38112bb008bf204a0b582,0,the breed i ticked was my random choose. actua...,a0c9daa0a,1.0,4
18677,14705,1,No description,12,307,0,1,1,0,0,...,1,1,0,41326,1164bfd0f131d0cf44b59ce95d3ef764,0,He was found at parking space in Wisma TT. Alw...,e80066a19,1.0,3
18681,14709,2,No description,4,266,0,2,5,0,0,...,2,1,0,41326,6612ac86f8e0b9566a4e7e93187f6712,0,this little kitten is found at my apartment ar...,72bb30805,1.0,4
18705,14733,2,No description,1,243,0,3,1,6,7,...,1,5,0,41401,5c1d0d877e97762c5ae9749076228e4d,1,"The long and short of it is, we recently took ...",c6c14a824,6.0,4
18718,14746,2,No description,1,254,266,2,1,2,3,...,1,1,0,41401,db204da3bd185f11269c3888697c98fd,0,I save this baby cat from the drain.. she is a...,a22a8a017,2.0,4
18727,14755,2,No description,1,252,0,3,7,0,0,...,1,2,0,41401,77ff10483a3e00dd18b741ffbcc1f36b,0,2 sisters need a home - they are very cute wit...,456c7a365,3.0,2
18765,14793,1,No description,2,307,141,1,2,7,0,...,1,1,0,41401,88da1210e021a5cf43480b074778f3bc,0,The puppy fostered at Kuala Lumpur. I hope ani...,e3883d4f0,2.0,1
18766,14794,2,No description,4,266,0,1,7,0,0,...,1,1,0,41336,cda9cadac8f524c705970b4ceccf2e5a,0,"Hi, I've rescued this kitten from our nearby m...",7caa6d216,4.0,4
18779,14807,2,No description,2,265,265,3,1,2,5,...,1,5,0,41401,400ccc2c3a18bd1750e2c194643ac2f9,0,We rescued the pregnant stray cat on the 3rd O...,603d1d51c,4.0,1
18790,14818,2,No description,15,249,266,2,5,0,0,...,1,1,200,41401,1f812902f9c640e3c54f378e55dce01a,0,Playful toilet train good temperament,e90137a54,2.0,4
18796,14824,2,No description,4,266,0,2,2,7,0,...,1,2,0,41326,1ce62a9ecda30157e567a34a9580df78,0,Rescued the stray mother cat and before could ...,b96d69dc8,2.0,2
18810,14838,1,No description,24,307,0,1,5,0,0,...,1,1,0,41401,71ee0b0f2a41302c242337b0eb96e3c1,0,"Curly hair, seems to have been lost for quite ...",01ba86830,1.0,1
18811,14839,1,No description,5,307,0,2,5,7,0,...,1,1,0,41326,4895ac7c5f0148d43f3cf517c7b480b8,0,Pls help her!! She is found on the street. She...,b165fe8b1,3.0,4
18816,14844,1,No description,2,307,0,1,1,2,0,...,1,1,0,41326,3b4eefa2ea39e2363ef3d835499f2da1,0,"Healthy stray mother living at our area, gave ...",6ef02d7e9,5.0,3
18843,14871,1,No description,2,307,0,2,4,7,0,...,1,1,0,41324,c8ea0bc42e630c72747986c4c0ce36aa,0,mixed breed. interested please kindly email me,5aff9022b,1.0,4
18902,14930,1,No description,12,307,307,1,2,7,0,...,1,1,0,41401,5c4ddaeafcbdfca6d291c6d010f1c35c,0,Friendly and loyal mongrel looking for a home....,1f70f8112,3.0,1
18907,14935,2,No description,1,243,0,3,2,3,4,...,1,2,0,41336,8d3049f2bb476520449863435ad067ec,0,the 2 kittens follow my friend into our house(...,811b66c3e,5.0,1
18956,14984,1,No description,60,307,0,2,2,5,0,...,1,1,0,41324,c8ea0bc42e630c72747986c4c0ce36aa,0,"abandoned,but healthy",f5dc70d35,1.0,4
18960,14988,2,No description,2,266,0,3,1,0,0,...,1,4,0,41326,61c84bd7bcb6fb31d2d480b1bcf9682e,0,I have 4 kittens that need to be adopt urgentl...,dc0935a84,3.0,2

In [99]:
len(data2)

1668

This is probably okay for now, since we're aware of the value for "null" nameless pets (it's not a blank string). We'll explore other alternatives of namess pets at a later date using a word cloud.

Rather than join tables now, let's wait to be sure that there are not actually graphing simplifications because of leaving the data in it's current state.

Let's now import the dataset specific to the shelter.

In [21]:
shelter_dogs=pd.read_csv('BigBonesDoggos.csv')
shelter_dogs.head()

,Unnamed: 0,organization_id,animal_id,animal_type,age,attributes.declawed,attributes.house_trained,attributes.shots_current,attributes.spayed_neutered,attributes.special_needs,...,organization_id.1,photos,published_at,size,species,status,status_changed_at,tags,type,url
0,0,co441,46224186,dog,Baby,NaN,True,True,True,False,...,CO441,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,2019-10-09T17:32:46+0000,Small,Dog,adoptable,2019-10-09T17:32:46+0000,[],Dog,https://www.petfinder.com/dog/tiko-46224186/co...
1,1,co441,46224166,dog,Adult,NaN,True,True,True,False,...,CO441,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,2019-10-09T17:31:22+0000,Large,Dog,adoptable,2019-10-09T17:31:22+0000,[],Dog,https://www.petfinder.com/dog/brody-46224166/c...
2,2,co441,46224128,dog,Adult,NaN,True,True,True,False,...,CO441,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,2019-10-09T17:30:14+0000,Large,Dog,adoptable,2019-10-09T17:30:14+0000,[],Dog,https://www.petfinder.com/dog/cooper-46224128/...
3,3,co441,46224152,dog,Adult,NaN,True,True,True,False,...,CO441,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,2019-10-09T17:29:33+0000,Large,Dog,adoptable,2019-10-09T17:29:33+0000,[],Dog,https://www.petfinder.com/dog/emmy-46224152/co...
4,4,co441,46201468,dog,Adult,NaN,True,True,True,False,...,CO441,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,2019-10-07T15:21:31+0000,Medium,Dog,adoptable,2019-10-07T15:21:31+0000,[],Dog,https://www.petfinder.com/dog/ittie-bit-462014...

In [22]:
#Remove empty columns. Replace later if data is obtained. 
#drops=[]
shelter_dogs=shelter_dogs.drop(['organization_id','attributes.declawed', 'coat', \
       'colors.primary','colors.secondary', 'colors.tertiary', 'contact.address.address1', \
       'contact.address.address2'],axis=1)
shelter_dogs.head()

,Unnamed: 0,animal_id,animal_type,age,attributes.house_trained,attributes.shots_current,attributes.spayed_neutered,attributes.special_needs,breeds.mixed,breeds.primary,...,organization_id.1,photos,published_at,size,species,status,status_changed_at,tags,type,url
0,0,46224186,dog,Baby,True,True,True,False,True,Chihuahua,...,CO441,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,2019-10-09T17:32:46+0000,Small,Dog,adoptable,2019-10-09T17:32:46+0000,[],Dog,https://www.petfinder.com/dog/tiko-46224186/co...
1,1,46224166,dog,Adult,True,True,True,False,True,English Bulldog,...,CO441,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,2019-10-09T17:31:22+0000,Large,Dog,adoptable,2019-10-09T17:31:22+0000,[],Dog,https://www.petfinder.com/dog/brody-46224166/c...
2,2,46224128,dog,Adult,True,True,True,False,True,Shepherd,...,CO441,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,2019-10-09T17:30:14+0000,Large,Dog,adoptable,2019-10-09T17:30:14+0000,[],Dog,https://www.petfinder.com/dog/cooper-46224128/...
3,3,46224152,dog,Adult,True,True,True,False,True,English Bulldog,...,CO441,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,2019-10-09T17:29:33+0000,Large,Dog,adoptable,2019-10-09T17:29:33+0000,[],Dog,https://www.petfinder.com/dog/emmy-46224152/co...
4,4,46201468,dog,Adult,True,True,True,False,True,Beagle,...,CO441,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,2019-10-07T15:21:31+0000,Medium,Dog,adoptable,2019-10-07T15:21:31+0000,[],Dog,https://www.petfinder.com/dog/ittie-bit-462014...